@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: none;
    width: 24px;
    height: 24px;
    color: var(--text-1);

    @media screen and (max-width: $breakpoint-sm) {
      display: flex;
      align-items: center;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 1em;

      li {
        cursor: pointer;
        color: var(--text-1);
        line-height: 1;
      }
    }

    @media screen and (max-width: $breakpoint-sm) {
      position: absolute;
      opacity: 0;
    }
  }

  .contactButtons {
    display: flex;
    align-items: center;
    gap: 1em;

    li {
      cursor: pointer;
      color: var(--text-1);
      line-height: 1;
    }

    a {
      @include button;
      transition: opacity 200ms ease-out;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 10px;
  }
}
