.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    &:hover {
        opacity: 0.8;
        transform: translateY(-10px);
    }
}