@mixin button {
  padding: 5px;
  min-width: 120px;
  max-width: 200px;
  width: auto;
  height: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: var(--text-1);
  border: var(--border);
  border-radius: 5px;
  gap: 0.5em;
}
