// abstracts
@import url("./abstracts/_variables.scss");
// base
@import url("./base/_global.scss");
// components
@import url("./components/_header.scss");
@import url("./components/_hero.scss");
@import url("./components/_skillsSection.scss");
